//Widths for @media queries
$width-large:  1024px;
$width-medium: 768px;
$width-small:  640px;
$width-xsmall: 480px;

//used for dynamic
$width-large-min:  1025px;
$width-medium-min: 769px;
$width-small-min:  641px;
$width-xsmall-min: 481px;

$border: 1px solid #ccc;
